<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215951914527-s36ee9cdteq5lcq6s5dt6dvvn9mfcl8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215951914527-s36ee9cdteq5lcq6s5dt6dvvn9mfcl8b</string>
	<key>API_KEY</key>
	<string>AIzaSyC7QY2izIi1BN45jTvtvLqQOYKZKVHQdV0</string>
	<key>GCM_SENDER_ID</key>
	<string>215951914527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JasonLuehsenhop.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d1213</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d1213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215951914527:ios:fdfb997eb61ca64c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-d1213.firebaseio.com</string>
</dict>
</plist>